{
 margin: 0;
padding: 0;
box-sizing: 0;
font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: azure;
    background-image: url(https://static.vecteezy.com/system/resources/previews/018/908/331/large_2x/beautiful-blue-and-purple-mixed-color-liquify-background-free-photo.jpg);
    background-size: cover;
}